@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap");
html {
  font-size: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  min-height: 100vh;
  line-height: 1.4;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

i {
  font-style: italic;
}

h3 {
  color: #5555ff;
  font-size: 1.5rem;
  margin-bottom: .1rem;
  font-weight: bold;
}

.scrollbar::-webkit-scrollbar, html::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #808080;
}

.scrollbar::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
  background: #5555ff;
}

.scrollbar::-webkit-scrollbar-corner, html::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.2);
}

.scrollbar::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #808080;
}

p {
  white-space: pre-line;
}

b {
  font-weight: bold;
}

h5 {
  font-size: 1.1rem;
  text-decoration: underline;
  margin-bottom: .3rem;
}

h5 ~ h5 {
  margin-top: 1rem;
}

ul {
  margin: 0;
  list-style-type: none;
}

ul > li {
  padding-left: 1rem;
  position: relative;
  text-align: justify;
}

ul > li::before {
  position: absolute;
  left: .5rem;
  content: "-";
}

main > section {
  background-color: #fff;
}

main > section p {
  text-align: justify;
}

main > section, main > section.container {
  padding-left: 5rem;
  padding-right: 5rem;
}

@media only screen and (max-width: 767px) {
  main > section, main > section.container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

main > section i {
  font-size: .9rem;
}

main > section i:last-of-type {
  display: block;
  margin-bottom: 1.25rem;
}

.particles {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

#main-header {
  text-align: center;
  padding-top: 2rem;
}

#main-header h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

#main-header p {
  font-style: italic;
  text-align: center;
}

#main-header + .container {
  background-color: #fff;
}

#main-header ~ * {
  padding-top: 2rem;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.btn {
  background-color: #5555ff;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border: 1px solid #5555ff;
  border-radius: 0;
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn:focus {
  box-shadow: 0 0 0 0.15rem rgba(38, 143, 255, 0.5);
}

button, a {
  user-select: none;
  background: none;
  text-decoration: none;
  border-radius: 0;
  border: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  outline: 0;
  text-shadow: none;
}

button::after, a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #da0463;
  transition: width .3s ease-in-out;
}

button:hover, button:focus, a:hover, a:focus {
  text-decoration: none;
}

button:hover::after, button:focus::after, a:hover::after, a:focus::after {
  width: 100%;
}

.form-ctn {
  margin-top: 1rem;
}

.form-ctn button {
  font-weight: bold;
  font-size: 1.2rem;
}

.form-ctn form {
  margin-top: 1rem;
  margin-bottom: .1rem;
}

.form-ctn form label {
  font-weight: bold;
}

.form-ctn form > div {
  margin-bottom: .5rem;
}

.form-ctn label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-ctn input, .form-ctn textarea {
  width: 100%;
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: "Roboto", sans-serif;
}

.form-ctn input:focus, .form-ctn textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-ctn input {
  height: calc(1.5em + .75rem + 2px);
}

#outro-ctn {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(85, 85, 255, 0.9);
  color: #fff;
}

#outro-ctn a, #outro-ctn button {
  color: #fff;
}

#outro-ctn p {
  text-align: justify;
}

#outro-ctn .external-links-ctn {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#outro-ctn .external-links-ctn a {
  text-decoration: none;
  transition: color .4s ease-in-out;
}

#outro-ctn .external-links-ctn a::after {
  content: none;
}

#outro-ctn .external-links-ctn a:hover, #outro-ctn .external-links-ctn a:focus {
  color: #da0463;
}

#outro-ctn .external-links-ctn a:not(:last-child) {
  margin-right: 1rem;
}

#outro-ctn .external-links-ctn svg {
  font-size: 2rem;
}
