<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/manifest/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/manifest/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/manifest/favicon-16x16.png">
    <link rel="manifest" href="/manifest/site.webmanifest">
    <title>George Bidilică | Full Stack Developer</title>
    <meta name="description" content="Bucharest-based developer specialized in web & E-commerce, but not limited to"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-grid.min.css">
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165254120-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-165254120-1');
    </script>
</head>
<body>
<main id="ctn">
    {{ content }}
</main>
<script src="assets/js/min/scripts.js"></script>
</body>
</html>